<!DOCTYPE html>
<html lang="en">
  <head><title>Coffee Detail Component</title></head>
<body>
  <table class="table" *ngIf="viewMode">
    <thead>
    </thead>
    <tbody *ngIf="currentCoffee.id">
        <tr>
          <td class="td_right"><i>Id: </i></td>
          <td class="td_left"><span>{{ currentCoffee.id }}</span>  </td>
        </tr>
  
        <tr>
          <td class="td_right"><i>Origin: </i></td>
          <td class="td_left"><span> {{ currentCoffee.origin }} </span></td>
        </tr>

        <tr>
          <td class="td_right"><i>Variety: </i></td>
          <td class="td_left"><span>{{ currentCoffee.variety }}</span></td>
        </tr>

        <tr>
          <td class="td_right"><i>Notes: </i></td>
          <td class="td_left"><span>{{ currentCoffee.notes }}</span></td>
        </tr>
        <tr>
          <td class="td_right"><i>Intensifier: </i></td>
          <td class="td_left"><span>{{ currentCoffee.intensifier }} </span>
          </td>
        </tr>
    </tbody>   
  </table>
</body>
</html>