<div>
    <div *ngIf="currentCoffee.id">
      <h4>Coffee  {{ currentCoffee.blend_name}}</h4>
      <div>
        <label><strong>Id :</strong></label> 
        {{ currentCoffee.id }}
      </div>
      <!-- <div>
        <label><strong>Blend Name:</strong></label>
        {{ currentCoffee.blend_name}}
      </div> -->
      <div>
        <label><strong>Origin:</strong></label>
        {{ currentCoffee.origin }} 
      </div>
      <div>
        <label><strong>Variety:</strong></label>
        {{ currentCoffee.variety }} 
      </div>
      <div>
        <label><strong>Notes:</strong></label>
        {{ currentCoffee.notes }} 
      </div>
      <div>
        <label><strong>Intensifier:</strong></label>
        {{ currentCoffee.intensifier }} 
      </div>
  
   
    </div>
  
   
  </div>