<html>
<body>
  <div class="list row">
    <div class="col-md-8">
      <h4>Coffee List</h4>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Blend Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coffee of coffees | paginate : {itemsPerPage: count,currentPage: page} let i = index"  [class.active]="i == currentIndex">
          <td (click)="setActiveCoffee(coffee, i)" >{{coffee.blend_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8" *ngIf="viewChildComponent">
        <app-product-details
          [viewMode]="true"
          [currentCoffee]="currentCoffee">
        </app-product-details>
    </div>
    
    <div class="col-md-7">
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
  </div>
</body>
</html>
